.nav_home {
    width: 100vw;
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
}

.nav_logo {
    text-indent: 5px;
}

.nav_links {
    height: 100%;
    width: fit-content;
    justify-content: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_links a {
    background: transparent;
    color: white;
    border: 0;
    height: 100%;
    min-width: 100px;
    text-align: center;
    text-decoration: none;
    align-content: center;
  }

.nav_links a:hover {
    color: blue;
}