__pycache__/
.venv/
.DS_Store
projects/**
node_modules/
backend/templates/
backend/static/
tasks.json
backend/config/service.config
backend/rich_presence
backend/test.py
backend/plugins/
backend/plugin_manager.py
backend/rich_presence.py