<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'header.html' %}
    <title> {{appName}} | Design Labs</title>
</head>
<body>
    <editor_main>
        <console>
            <div id="commands">
            </div>

            <input type="text" name="cmdLine" id="cmdLine" placeholder="Type a command here">
        </console>

        <div class="editor_explorer_nav">
            <button>
                <i class="fa-solid fa-file"></i>
            </button>

            <button id="js_button">
                <i class="fa-brands fa-square-js"></i>
            </button>

            <button id="css_button">
                <i class="fa-brands fa-css3-alt"></i>
            </button>

            <button>
                <i class="fa-solid fa-border-all"></i>
            </button>
        </div>

        <div id="editor">
            <div class="editor_nav">
                <div class="menu_bar">
                    <a href="javascript:void(0)" class="menu_item">File</a>
                    <a href="javascript:void(0)" class="menu_item">Edit</a>
                    <a href="javascript:void(0)" class="menu_item">Help</a>
                </div>
                <button id="run_button">
                    <i class="fa-solid fa-play"></i>
                    Run
                </button>
            </div>

            <!-- <div class="tab_block">
                <div class="tab">
                    Editor
                    <button>
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>

                <div class="tab">
                    JS Editor
                    <button>
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>

                <div class="tab">
                    CSS Editor
                    <button>
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </div> -->

            <div class="editor_panels">
                <div id="centerPiece">
                    {% include 'base.html' %}
                </div>
                <div id="rightPanel" class="panel">
                    <input placeholder="Set Text" type="text"/>
                    <button>Set</button>
                </div>
            </div>
        </div>
        <script src="/static/app/app.js" type="module"></script>
        <script src="/static/app/functions.js"></script>
        <script src="https://kit.fontawesome.com/69e44b2a4c.js" crossorigin="anonymous"></script>
        <script src="/static/app/engine.js"></script>
    </editor_main>

    <javascript_editor style="display: none;">
        <button id="submit_code_button">Submit Code</button>
        <!-- <pre><code id="code_display" contenteditable>const x = 2;</code></pre> -->
        <div id="code_display" contenteditable="true"></div>
    </javascript_editor>
</body>
</html>