<!-- Links for css -->
<link rel="stylesheet" href="/static/app/elements.css">
<link rel="stylesheet" href="/static/css/design.css">
<link rel="stylesheet" href="/static/app/app.css">
<link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.7.0/styles/github-dark.min.css"/>

<!-- Scripts for js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
<script type="text/javascript" src="https://livejs.com/live.js"></script>
<script src="https://kit.fontawesome.com/69e44b2a4c.js" crossorigin="anonymous"></script>
<script type="module" src="/static/app/rich_presence.js"></script>
<script src="https://unpkg.com/@highlightjs/cdn-assets@11.7.0/highlight.min.js"></script>
