<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'header.html' %}
    {% include 'navigational_bar.html'%}
    <title>{{appName}} | Home</title>
</head>
<body>
    <span>
        <h1 class="custom_design_labs_header_text_h1">Welcome to {{appName}}</h1>
        <h3 class="custom_design_labs_header_text_h3">A simple to use Web and Ui\Ux designer</h3>
    </span>

    <pre class="typewriter home_code">
        <code class="language-javascript">
        function startup() {
            console.log("Start designing professionally");
        }
        </code>
    </pre>

    <pre class="typewriter home_code">
        <code class="language-css">
            main {
                background: black;
                color: white;
                margin: 0;
            }
        </code>
    </pre>

    <pre class="typewriter home_code">
        <code class="language-javascript">
        var Design-Labs-Ending = "Welcome to Design Labs";

        const code_end = () => {
            console.log(Design-Labs-Ending);
        }
        </code>
    </pre>

    <div id="discord_status">
        <p id="discord_status_text">Discord is not connected</p>
        <button title="Click to Connect" id="discord_status_button">Connect</button>
        <button title="Click to Disconnect" id="discord_status_disconnect">Disconnect</button>
    </div>

    <script src="/static/app/index.js" type="module"></script>
</body>
</html>