{% block navigational_bar %}
<nav class="nav_home">
    <div class="nav_logo">
        <h1 class="custom_design_labs_header_text_h1">{{appName}}</h1>
        <p class="custom_design_labs_subtitle_text_p">Beta v1</p>
    </div>

    <div class="nav_links">
        <a href=".">Home</a>
        <a href="/projects">Projects</a>
        <a href="#">Other Tools</a>
        <a href="https://github.com/CastyiGlitchxz/Design-Labs" target="_blank">Github</a>
        <a href="#" class="download_button">Download</a>
    </div>
</nav>
{% endblock navigational_bar %}