<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'header.html' %}
    {% include 'navigational_bar.html'%}
    <title>{{appName}} | Projects</title>
</head>
<body>
    <div>
        <input type="text" placeholder="Enter project name" id="project_creation_input" class="custom_design_labs_input"/>
        <button onclick="createProject();" class="custom_design_labs_button">Create Project</button>
    </div>

    <div id="projects_list"></div>
    <script src="/static/app/index.js" type="module"></script>
</body>
</html>