<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'header.html' %}
    {% include 'navigational_bar.html'%}
    <title>{{appName}} | Projects</title>
</head>
<body>

    <div id="projects_list">
        <div id="projects_list_header">
            <div>
               <h3 class="custom_design_labs_header_text_h3">Projects</h3> 
            </div>
            

            <div class="projects_input">
                <input type="text" placeholder="Enter project name" id="project_creation_input"/>
                <button id="project_creation_button" class="projects_list_command_option">
                    <i class="fa-solid fa-circle-plus"></i>
                </button>
            </div>

            <div class="project_controls">
                <button class="projects_list_command_option" id="open_project_button" hidden>
                    <i class="fa-regular fa-folder-open"></i>
                </button>

                <button class="projects_list_command_option" id="delete_project_button" hidden>
                    <i class="fa-regular fa-trash-can"></i>
                </button>
            </div>

        </div>
    </div>
    
    <script src="/static/app/index.js" type="module"></script>
    <script src="/static/app/projects.js"></script>
</body>
</html>