<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app/login/login.css">
    {% include 'header.html' %}
    <title>{{appName}} | Sign Up</title>
</head>
<body>
    <div class="login-container">
        <form class="login-centered-content" method="POST">
            <img src="/static/app/images/favicon.ico" width="90" height="90" id="logo"/>

            <div class="input-container">
                <span class="login-input-container">
                    <i class="fa-regular fa-circle-user"></i>
                    <input type="text" name="username" id="" placeholder="Username" required>
                </span>

                <span class="login-input-container">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="password" id="" placeholder="Password" required>
                </span>
            </div>

            <button class="login-button">Sign Up</button>
        </form>
    </div>
</body>
</html>